// slider
.slider
	height: 518px
	background: #8C8C8C 
	.cycle
		position: relative
		margin: 0 auto
		width: 1020px
	.cycle__item
		padding: 15px 0 0 80px 
		width: 1020px
		height: 518px
		color: #FFF 
		background: url('../img/s-pic.png') no-repeat 0 0
		+box
	.cycle__title
		font-size: 56px
		+text-shadow(1px 0 0 #000)
		span
			+mb
	.cycle__list
		position: absolute
		bottom: 28px
	.cycle__nav
		position: absolute
		top: 50%
		margin-top: -14.5px
		z-index: 200
		&:hover
			+opacity(0.9)
	.cycle__nav_prev
		left: 40px
		+s(pref-pic)
	.cycle__nav_next
		right: 40px
		+s(next-pic)
	.cycle__list
		li
			position: relative
			padding: 4px 0 0 23px
			&:before
				position: absolute
				content: ""
				top: 12px
				left: 0 
				+s(mark)
	.cycle-pager
		position: absolute
		width: 100%
		text-align: center
		bottom: 10px
		z-index: 200
		display: block
		+clr
		button
			margin-right: 10px
			+s(pag-pic) 
			&:hover
				+si(pag-pichov)
		.is-active
			+si(pag-pic_ac)
			&:hover
				+si(pag-pic_ac)

// welcome
.welcome
	padding: 30px 8px 30px 
	.btn
		float: right
		margin-top: 30px

.welcome__title
	color: #3D9AED 
	font-size: 42px
	+mb

.welcome__text
	font-size: 24px
	+ml
	span
		+mr

// calculator
.calculator
	padding: 30px 18px 20px 50px
	font-size: 18px
	border: 16px solid #E0E6EA 
	+border-radius(11px) 
	p
		padding: 25px 0 16px
	a
		text-decoration: underline
		color: #3D9AED 
		&:hover
			text-decoration: none
	.btn_bot
		margin-left: 100px
		padding-right: 124px
		padding-left: 124px

.calculator__wrap
	+clr

.calculator__col
	margin-right: 50px
	vertical-align: bottom
	display: inline-block
	p
		padding: 0 0 30px 0
	&:first-child
		margin-right: 160px
		
.calculator__field
	padding: 12px 18px
	font-size: 32px
	line-height: 1 
	vertical-align: bottom
	background: #E0E6EA 
	display: inline-block
	+border-radius(5px) 

.account
	padding: 25px 0 22px
	font-size: 0

.account__item
	padding: 40px 14px 14px 18px 
	margin-left: 2%
	width: 32%
	display: inline-block
	border: 2px solid #ECF0F2 
	+border-radius(5px)
	+transition(0.2s)
	+box
	&:hover
		background: #ECF0F2 
		+transition(0.2s)
		.account__status
			i
				left: -115px
				top: -20.2px
			
		.account__status_silver
			i
				left: -116px
				top: -19px
				+s(sil-hov)

		.account__status_gold
			i
				+s(gol-hov)

		.account__status_platinum
			i
				+s(plat-hov)

	&:first-child
		margin-left: 0

.account__top
	padding-left: 110px
	font-size: 42px
	+ml

.account__status
	position: relative
	i
		position: absolute
		top: -12px
		left: -108px
		
.account__status_silver
	i
		+s(sil-pic)

.account__status_gold
	+mr	
	i
		+s(gol-pic)

.account__status_platinum
	i
		+s(plat-pic)

.account__list
	margin: 25px 0
	font-size: 18px
	li
		position: relative
		padding-left: 12px
		&:before
			position: absolute
			content: "" 
			top: 50%
			left: 0
			width: 6px
			height: 6px
			margin-top: -3px
			background: #3D9AED 
			+border-radius(50%)

// article
.article
	background: #0080D6 

.article__col
	margin-left: 70px
	padding: 45px 30px 30px 10px
	width: 270px
	color: #fff 
	font-size: 16px
	display: inline-block
	+box
	&:first-child
		margin-left: 0
	p
		padding-bottom: 25px
		line-height: 1.2
	a
		color: #B0D2FF
		text-decoration: none
		&:hover
			text-decoration: underline
.article__img
	padding-bottom: 10px
	text-align: center
	
.article__title 
	padding-bottom: 25px
	text-align: center
	font-size: 24px
	font-weight: normal
	line-height: 1

// reviews
.reviews
	padding: 45px 0 20px

.reviews__title
	font-size: 35.06px
	font-weight: normal 
.reviews__item
	padding-bottom: 25px
	border-top: 1px solid #cccccc
	&:first-child
		border: none 
.reviews__col
	position: relative
	margin-top: 30px
	padding-left: 45px
	.reviews__img
		position: absolute
		top: 2px
		left: 6px
	p
		line-height: 1.2
.reviews__user
	+mb
	span
		font-style: italic
		font-size: 12px
		+mr

.reviews__profession 
	padding-bottom: 3px
	font-size: 12px
	
// contacts
.contacts
	padding: 22px 0 35px
	background: #005893 
	
.contacts__title
	padding-bottom: 20px
	color: #FFF 
	font-size: 22px
	font-weight: normal
	text-transform: uppercase
	
.contacts__item
	position: relative
	padding-left: 26px
	width: 33%
	color: #CCE5F7 
	line-height: 1.2
	vertical-align: top
	display: inline-block
	+box
	i
		position: absolute
		top: 0
		left: 0
	
.contacts__item_address
	i
		+s(marc-pic)
.contacts__item_phone
	text-align: center
	i
		left: 54px
		+s(phone-pic)
.contacts__item_mail
	color: #fff 
	text-align: right
	line-height: 0.6 
	text-decoration: none
	&:hover
		text-decoration: underline
	i
		left: 111px
		+s(mail-pic)